<IfModule mod_rewrite.c>
    RewriteEngine On

    ##
    ## You may need to uncomment (remove #) the following line for some hosting environments,
    ## if you have installed to a subdirectory, enter the name here also.
    ## Example: for https://site.com enter: "/", for https://site.com/something enter: "/something/"
    ##
    # RewriteBase /v2/

    ##
    ## Uncomment following lines to force HTTPS.
    ##
    ## RewriteCond %{HTTPS} on
    ## RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

    ## RewriteCond %{SERVER_PORT} 80
    ## RewriteRule ^(.*)$ https://localhost/asset/$1 [R,L]
    ## RewriteRule ^(.*)$ https://localhost/asset/public/login/$1 [R,L]

    RewriteRule ^(comments)($|/) - [L]
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ https://localhost/asset/public/login/$1 [L]
</IfModule>
